*{ 
    box-sizing: border-box;
    margin: 0;
}
html{
    min-height: 100vh;
    font-family: 'Lobster', cursive;
}
.heading  {
    color: #ff9f1c;
    text-align: center;
    font-size: 4em;
    
}
.board-container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 15px;
    justify-content: center;
    /* background-color: #a2d2ff; */
}
.game-info{
    display: flex;
    grid-column: 1/-1;
    margin-left: 50px;
    font-size: 2em;
    justify-content: space-around;
}
.card {
    position: relative;
    height: 140px;
    width: 220px;
    background-color: #ccd5ae;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    cursor: -webkit-grab; cursor: grab;
}

.card-category{
    height: 60px;
    background-color:#cdb4db;
    font-size: 1em;
    text-align: center;
   
}
.card-category h3{
    margin: 15px 2px; 
}
.numbers {
    text-align: center;
    font-size: 2em;
    margin:40px auto;
    justify-content: center;
    align-items: center;
}
.card.visible .numbers-face{
    transform: rotateY(180deg); 
}
.card.visible .question-face{
    transform: rotateY(0deg); 
}
.question-overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.question-overlay.visible{
    animation: overlay-grow 700ms forwards;
    display: flex;
    flex-direction: column;
}
.card-face{
    position: absolute;
    width: 100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    transition: transform 300ms ease-in-out;
}
.question-face{
    transform: rotateX(180deg);
}

form{
    align-self: flex-start;
    padding: 0.5em;
    background-color: #ccc;
    border-radius: 1em;
    line-height: 1.5;
    width: 100%;
    height:100%;
    font-size: 1em;
}
input[type=submit]{
    font-size: 0.7em;
    cursor: pointer;
}
input[type="radio"]{
    margin-right: 5px;
}